RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^$ /pages/index.html [L]
RewriteRule ^([^/.]+)$ /pages/$1.html [L]
RewriteRule ^(.*)$ /pages/ [L,R=301]