* {
    padding: 0;
    margin: 0;
    user-select: none;
}

body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
    font-family: monospace;
    color: white;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    text-align: center;
    padding: 20px;
    width: 300px;
    border-radius: 20px;
    background-color: rgb(0, 0, 0, 0.7);
}

#pfp {
    border-radius: 50%;
    transition: 0.3s ease-in-out;
    margin-bottom: 20px;
}

#pfp:hover {
    filter: drop-shadow(0px 0px 5px rgb(66, 66, 66));
    transform: scale(1.05) rotate(10deg);
}

.muted {
    color: gray;
    padding: 2px;
}

.socials {
    display: flex;
    flex-direction: column;
    padding: 10px;
    text-align: center;
}

.socials a {
    text-decoration: none;
    color: white;
    margin: 7px;
    height: 30px;
    line-height: 30px;
    transition: 0.3s ease-in-out;
}

.socials a:hover {
    transform: scale(1.05);
}

#ig:hover {
    background-color: #d62976;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 2px #d62976);
}

#spotify:hover {
    background-color:  #1db954;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 2px #1db954);
}

#discord:hover {
    background-color: #7289d9;
    transform: scale(1.05);
    filter: drop-shadow(0px 0px 2px #7289d9);
}

hr {
    border: none;
    height: 1px;
    margin: 20px;
    background-color: gray;
}

#quote {
    font-size: 12px;
    margin: 5px;
}

#spotify {
    transition: 0.3s ease-in-out;
}