.floating {
    animation: floating 3s infinite;
}

@keyframes floating {
    0% {
        translate: 0 0;
    }
    50% {
        translate: 0 -10px;
    }
    100% {
        translate: 0 0;
    }
}

.footer {
    transition: 0.3s ease-in-out;
    font-size: 12px;
}

.footer:hover {
    color: rgb(255, 255, 255)!important;
    cursor: pointer;
}