.floating {
    animation: floating 3s infinite;
}

@keyframes floating {
    0% {
        translate: 0 0;
    }
    50% {
        translate: 0 -10px;
    }
    100% {
        translate: 0 0;
    }
}

.footer {
    transition: 0.3s ease-in-out;
    animation: fadein 3s;
    font-size: 12px;
}

.footer:hover {
    color: rgb(255, 255, 255)!important;
    cursor: pointer;
}

.imgzoom {
    transition: 0.3s ease-in-out;
}

.imgzoom:hover {
    transform: scale(1.03);
}

@keyframes fadein {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}

.fade-in {
    animation: fadein 3s;
}

#content {
    transition: opacity 0.3s ease;
}
#content.hidden {
    opacity: 0;
}
